page-home {
    .save_quote{
        text-align: center;
    }
    .content{
        padding-top: 100px !important;
        background: url(../../assets/imgs/bg.jpg) center center no-repeat;
        background-size: cover;
    }
    .scroll-content{
        padding-top: 80px !important;
    }
    .save_quote{
        color: #fff;
    }
}
